.dob_input_field{
    position: relative;
}
.dob_input_field span{
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    cursor: pointer;
    color: var(--secondary);
}

.pass_input_field{
    position: relative;
}
.pass_input_field span{
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.1em;
    cursor: pointer;
    color: var(--secondary);
}